.nav {
  grid-area: n;
  background-color: royalblue;
}

.item a{
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  border: 1px solid #ccc;
}

.item a:hover{
  background-color: #ccc;
  color: black;
}

.item.activeLink{
  border:1px solid #ccc;
  background-color: #ccc;
  color: black;
  background-color: #95d353;

}