#root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.task-1 {
  width: 50%;
}

.user-card {
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 10px; 
 background-color: aqua;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 justify-content: center;
 align-items: center;
 margin: 30px;
}

.user-card-item, .user-card-list-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.user-card-button {
  padding: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
}


